* {
  box-sizing: border-box;
}
body {
  color: #333;
}
main {
  padding: 8px;
  max-width: 700px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  margin-top: 20px;
}

header a {
  text-decoration: none;
  color: inherit;
}
header a.logo {
  font-weight: bold;
  font-size: 1.5rem;
}
header nav {
  display: flex;
  gap: 15px;
}

img {
  width: 100%;
}

div.post {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  gap: 15px;
  align-items: center;
  margin-bottom: 35px;
}

div.post div.text h2 {
  margin: 0;
  font-size: 1.6rem;
}
div.post div.text p {
  margin: 10px 0;
  line-height: 1.4rem;
}

div.post p.info a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
  margin-right: 0.8rem;
}
div.post p.info time {
  font-weight: bold;
  color: #888;
}

form.login,
form.register {
  max-width: 500px;
  margin: 0 auto;
}

.login-heading {
  text-align: center;
}
.register-heading {
  text-align: center;
}
input {
  display: block;
  /* margin: 8px 0 15px 0; */
  margin-top: 8px;
  margin-bottom: 15px;
  width: 100%;
  padding: 6px;
  border: 2px solid #dddd;
  border-radius: 5px;
  background-color: #fff;
}

button {
  width: 100%;
  display: block;
  padding: 5px;
  /* border-radius: 4px; */
}
